<div class="confirm-container">
  <h3 mat-dialog-title>Game Over! Well done!</h3>
  <div mat-dialog-content>Your total score is {{ totalscore }}</div>
  <div mat-dialog-actions style="float: right; margin: 20px">
    <button
      mat-button
      class="btn btn-secondary"
      [mat-dialog-close]="{ clicked: 'newgame' }"
    >
      Play New Game
    </button>
    &nbsp;
    <button
      mat-button
      [mat-dialog-close]="{ clicked: 'Cancel' }"
      class="btn btn-secondary"
    >
      Cancel
    </button>
  </div>
</div>
